.block {
    padding: 10px;
    background-color: aqua;
    border: 4px solid darkblue;
    margin-bottom: 20px;
}
.inline {
    background-color: crimson;
    color: white;
    padding: 10px;
}
#menu {
    background: green;
}
#menu ul {
    color: crimson;
}
